@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto/Roboto.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Oswald';
    src: url(fonts/Oswald/Oswald.ttf);
    font-weight: 400;
}

* {box-sizing: border-box}

body {
    font-family: 'Roboto', sans-serif;
	background-color: rgb(66, 66, 66);
	padding-left: 3%;
	padding-right: 3%;
	height: 100%;
}

h3, h1, .labels {
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	color: white;
}

.labels {
	font-size: 16pt;
}

.selection {
	vertical-align: 3px;
	background-color: rgb(66, 66, 66);
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 13pt;
	cursor: pointer;
	border: 2px solid #888;
	border-radius: 3px;
}

optgroup {
	font-size: 12pt;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.warning {
	background-color: #fee367;
	border: 1px solid #2b2b2b;
	border-radius: 12px;
	padding: 5px;
	color: black;
}

.content {
	float: left;
	padding: 0px 12px;
	border: none;
	height: 100%;
	overflow: auto;
	color: white;
	font-size: 13pt;
	width: 100%;
}

.hidden_block {
	display: none;
}

.plaintext {
	font-size: 13pt;
	color: white;
}

.codename, .code {
	width: 50px;
}

.note {
	width: 300px;
}

a {
	text-decoration: none;
	font-weight: 900;
	color: rgb(111, 168, 220);
	transition: 0.4s;
}

a:hover {
	color: #95e0fd;
	transition: 0.4s;
} 

.delimiter {
	border-top: 2px solid white;
}

table {
	font-size: 12pt;
	border: solid white 1px;
	border-collapse: collapse;
	width: 100%;
}

th, td {
	border: solid white 1px;
	padding: 4px;
}

th {
	background-color: rgb(85, 85, 85);
}

.table_header th {
	vertical-align: top;
	border: solid white 1px;
	background-color: rgb(85, 85, 85);
}

.code {
	text-align: center;
}

.domen {
	width: 170px;
}

.required, .optional, .condition {
	font-weight: bold;
	text-align: center;
}

.required {
	color: #f9776c;
}

.optional {
	color: #6cc5f9;
}

.condition {
	color: #f9df6c;
}

.modal {
  	display: none;
  	position: fixed;
  	z-index: 1;
  	padding-top: 50px;
  	left: 0;
  	top: 0;
	width: 100%;
  	height: 100%;
  	overflow: auto;
  	background-color: rgba(0,0,0,0.4);
}

.modal-content {
  	background-color: #515151;
  	margin: auto;
  	padding: 20px;
  	border: 1px solid #888;
	border-radius: 12px;
  	width: 50%;
	color: white;
}

.close {
  	color: #aaaaaa;
  	float: right;
  	font-size: 28px;
  	font-weight: bold;
	padding-top: 20px;
}

.close:hover, .close:focus {
  	color: #000;
  	text-decoration: none;
  	cursor: pointer;
}

button {
	cursor: pointer;
	border: none;
	border-radius: 4px;
	background-color: #388eaf;
	font-family: 'Roboto', sans-serif;
	font-size: 12pt;
	color: white;
	transition: 0.4s;
}

button:hover {
	background-color: #64b8d9;
	transition: 0.4s;
}

.caret {
	cursor: pointer;
	-webkit-user-select: none; /* Safari 3.1+ */
	-moz-user-select: none; /* Firefox 2+ */
	-ms-user-select: none; /* IE 10+ */
	user-select: none;
	font-family: 'Oswald', sans-serif;
	font-size: 15pt;
	color: white;
	transition: 0.3s;
	border: none;
	border-radius: 4px;
	margin-top: 5px;
	margin-right: 2px;
	margin-bottom: 5px;
	padding-left: 6px;
	padding-bottom: 3px;
}

.caret:hover {
  	background-color: #ddd;
	color: rgb(30, 30, 30);
}

.caret::before {
	content: "\25B6";
	color: rgb(20, 20, 20);
	display: inline-block;
	margin-right: 6px;
}

.caret-down::before {
	-ms-transform: rotate(90deg); /* IE 9 */
	-webkit-transform: rotate(90deg); /* Safari */
	transform: rotate(90deg);  
}

.nested {
	display: none;
}

.active {
	display: block;
}

footer {
    color: #c4c4c4;
    text-align: center;
	font-size: 12pt;
    margin-top: auto;
}

.container {
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

footer a {
    text-decoration: none;
    color: #c4c4c4;
}

.version {
    text-align: right;
}
